version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "06:00"
      timezone: "America/Chicago"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore(deps)"
    groups:
      minor-and-patch:
        patterns: ["*"]
        update-types: ["minor", "patch"]
